@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
:root {
    --mainColor: rgba(33, 34, 51, 0.9);
    --menuColor: rgba(29, 31, 60, 0.9);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: 'titleFont';
    src: url('../fonts/OPTICopperplate.otf');
  }

body {
    /* display: flex;
    justify-content: space-between;
    align-items: flex-start; */
    height: auto;
    background-color: var(--mainColor);
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/HomePage.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--mainColor);
    height: 5vw;
    width: 100%;
    position: fixed;
    z-index: 99;
    scroll-behavior: smooth;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

    .navigation a:hover {
        color: #a13ea1;
    }

.navigation a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

    .navigation a:hover::after {
        transform: scaleX(1);
    }

.navigation .btnLogin {
    width: 130px;
    height: 50px;
    background:  #873b87;
    border: 2px solid #ffffff73;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 10px;
    transition: .3s;
}

    .navigation .btnLogin:hover {
        background: var(--mainColor);
        color: #873b87;
        border: 2px solid #873b87;
    }

    .logo {
        position: absolute;
        width: 5vw;
        height: 5vw;
        left: 4%;
        bottom: -0.3vw;
    }

.title {
    position: absolute;
    color: white;
    left: 8.5%;
    font-size: 2vw;
    font-family: 'Copperplate Gothic';
}

/* Content desc starts here */
.content-wrapper{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
/* .content-desc{

} */

.content-desc h1{
    font-size: 3rem;
    margin-bottom: 10px;
}
.content-desc p{
    width: 550px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 10px;
}
.content-desc span{
    font-weight: bold;
    color: #fff;
    -webkit-text-stroke-width: 1.5px; /* Width of the stroke */
    -webkit-text-stroke-color: #a13ea1; /* Color of the stroke */
}
#btn2{
    width: 350px;
    height: 10vh;
    padding-left: 20px;
    outline: none;
    border: 2px solid #ffffff73;
    background: #a13ea1;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
    clip-path: polygon(0 0, 74% 0, 100% 100%, 0% 100%);
    border-radius: 20px;
    text-align: left;
    cursor: pointer;
    color: #fff;
}
.game{
    width: 400px;
    height: 400px;
    background: url(../images/AppleCharacter.avif);
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 20px;
}

.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}
.logo-section .fas{
    font-size: 6rem;
    color: #fff;
}
.logo-section h1{
    width: 250px;
    font-size: 2rem;
    font-family: 'Copperplate Gothic';
    color: #fff;
    margin-left: 10px;
}
/* Section one starts here */

.section-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712)),
    url(../images/LoginPageSection1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* transform: scale(0); */
}

.section-1 h1{
    font-family: 'Copperplate Gothic';
    font-size: 1.5rem;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}
.section-1-wrapper{
    width: 70%;
    height: 40%;
    margin: auto;

}
.section-1-img{
    display: flex;
    margin-top: 20px;
}
.section-1-img .img{
    width: 150px;
    height: 150px;
    background: url(../images/game1.png);
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    border-radius: 10px;
}
.section-1-img .img-2{
    background: url(../images/game2.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-3{
    background: url(../images/game3.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-4{
    background: url(../images/game4.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-5{
    background: url(../images/game5.png);
    background-size: cover;
    background-position: center;
}
.section-1-img  .img-6{
    background: url(../images/game6.png);
    background-size: cover;
    background-position: center;
}
.img:hover{
    transform: translateY(-10px);
}

/* Section 2 starts here */

.game-categories {
    width: 70%;
    height: 40%;
    margin: auto;
}

.game-categories h2 {
    font-size: 1.3rem;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0;
    color: #fff;
    cursor: pointer;
}

.game-categories h2:hover {
    color: #a13ea1;
}

.category {
    display: none;
}

.game-wrapper {
    display: flex;
}

.gw {
    width: 120px;
    height: 120px;
    background-size: cover;
    background-position: center;
    margin: 20px 15px 0 0;
    border-radius: 10px;
}

.gw:hover {
    transform: translateY(-10px);
}


/* Selected category styles */
.category.active {
    display: block;
}

.gw-1{
    background: url(../images/game2.png);
    background-size: cover;
    background-position: center;
}
.gw-2{
    background: url(../images/game1.png);
    background-size: cover;
    background-position: center;
}
.gw-3{
    background: url(../images/game3.png);
    background-size: cover;
    background-position: center;
}
.gw-4{
    background: url(../images/game4.png);
    background-size: cover;
    background-position: center;
}
.gw-5{
    background: url(../images/game5.png);
    background-size: cover;
    background-position: center;
}
.gw-6{
    background: url(../images/game6.png);
    background-size: cover;
    background-position: center;
}
.gw-7{
    background: url(../images/game4.png);
    background-size: cover;
    background-position: center;
}


/* FOoter section */
footer{
    position: absolute;
    align-self: flex-end;
    width: 100%;
    height: 55vh;
    background: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-body{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

ul h3{
    color: #fff;
    font-weight: 450;
}
ul li{
    list-style: none;
    line-height: 2.5rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
}
ul li a .fab{
    font-size: 1.2rem;
    color: #a13ea1;
    margin-right: 15px;
}
ul li a:hover{
    color: #a13ea1;
}

.footer-bottom{
    z-index: 99;
    width: 100%;
    height: 7vh;
    background: var(--menuColor);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
}
.footer-bottom span{
    color: #a13ea1;
    font-weight: bold;
}

/* media qeries */

@media(min-width: 768px){
    /* news & reviews */
    #news article, #reviews article{
        display: grid;
        grid-template-columns: 2fr 3fr;
        -webkit-column-gap: 2rem;
           -moz-column-gap: 2rem;
                column-gap: 2rem;
    }
    #news article .item-img, #reviews article .item-img{
        height: 260px;
    }
    /* popular news */
    #news .news-popular article .item-img{
        height: 160px;
    }
    #news .news-popular .popular-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 4rem;
           -moz-column-gap: 4rem;
                column-gap: 4rem;
    }
    #news .news-popular .popular-list article:first-child, #news .news-popular .popular-list article:last-child{
        margin-top: 0;
    }

    /* videos */
    #videos .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-column-gap: 4rem;
           -moz-column-gap: 4rem;
                column-gap: 4rem;
    }
}

@media(min-width: 992px){
    .navbar-toggler-close, .navbar-toggler-open{
        display: none;
    }
    .navbar-collapse{
        width: 100%;
        right: 0;
        position: relative;
        background-color: transparent;
        padding: 0;
    }
    .navbar-nav{
        margin-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }
    .nav-item{
        position: relative;
        margin: 0 2.4rem 0 0;
    }
    .nav-item-dropdown-content{
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 10;
        background-color: var(--green-color);
        border-radius: .3rem;
    }
    .nav-item-dropdown-content li a{
        opacity: 1;
    }
    .nav-item-dropdown-content li a:hover{
        opacity: 0.8;
    }
    /* nav item dropdown show class */
    .show-dropdown{
        padding: 1.5rem;
    }
    .nav-link:hover, .nav-item-dropdown:hover{
        color: #fff;
        opacity: 0.8;
    }

    /* header */
    .header-content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 2rem;
    }
    .header-item{
        height: 50vh;
    }

    .header-item:nth-child(1){
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
    .header-item:nth-child(2){
        grid-column: 1 / 3;
        grid-row: 2 / 3;
    }
    .header-item:nth-child(3){
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }
}

@media(min-width: 1200px){
    /* header */
    .header-item:nth-child(1){
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        height: 100%;
    }
    .header-item:nth-child(2){
        grid-column: 3 / 5;
        grid-row: 1 / 2;
    }
    .header-item:nth-child(3){
        grid-column: 3 / 5;
        grid-row: 2 / 3;
    }

    /* news  */
    #news .container{
        display: grid;
        grid-template-columns: auto 400px;
        -webkit-column-gap: 4rem;
           -moz-column-gap: 4rem;
                column-gap: 4rem;
    }
    /* news popular */
    #news .news-popular .popular-list{
        grid-template-columns: repeat(1, 1fr);
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }
    /* video section */
    #videos .container{
        grid-template-columns: repeat(4, 1fr);
    }
    /* reviews section */
    #reviews .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


/* transition and animation stopper while resizing window */
.resize-animation-stopper *{
    -webkit-animation: none!important;
            animation: none!important;
    -webkit-transition: none!important;
    -o-transition: none!important;
    transition: none!important;
}

@media(max-width: 400px){
    .header-item-text .text{
        display: none;
    }
}