:root {
    --mainColor: rgba(33, 34, 51, 0.9);
    --menuColor: rgba(29, 31, 60, 0.9);
}

html,
body {
    margin: 0;
    background-color: black;
}

<<<<<<< Updated upstream
header {
=======
.nameHeader {
>>>>>>> Stashed changes
    background-color: var(--mainColor);
    border-bottom: 1px solid black;
    height: 5vw;
    width: 100%;
    position: fixed;
}

.openMen {
    left: 1vw;
    bottom: 1.3vw;
    position: absolute;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 20%;
    border-color: rgb(197, 156, 234);
    background-color: white;
    background-image: url("images/menuClose.webp");
    background-size: contain;
}

.openMen:hover {
    background-color: rgb(193, 175, 175);
}

.logo {
    position: absolute;
    width: 5vw;
    height: 5vw;
    left: 4%;
    bottom: -0.3vw;
}

.title {
    position: absolute;
    color: white;
    left: 8.5%;
    font-size: 2vw;
    font-family: Copperplate;
}

.icons {
    margin: 0;
    position: absolute;
    right: 2vw;
    bottom: 0.8vw;
}

.profileButton {
    width: 3vw;
    height: 3vw;
    border-radius: 20%;
    border-color: rgb(197, 156, 234);
    background-color: white;
    background-image: url("images/profile.png");
    background-size: contain;
}

.profileButton:hover {
    background-color: rgb(226, 196, 226);
}

.logout {
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 60%;
    border-color: rgb(140, 158, 229);
    background-color: white;
    background-image: url("images/logout.png");
    background-size: contain;
}

.logout:hover {
    background-color: rgb(4, 0, 4);
}

.fav {
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    border-color: rgb(156, 132, 220);
    background-image: url("images/favourite.png");
    background-size: contain;
}

.fav:hover {
    background-color: rgb(156, 132, 220);
    ;
}

.ranks {
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 60%;
    border-color: rgb(118, 125, 207);
    background-color: white;
    background-image: url("images/ranks.png");
    background-size: contain;
}

.ranks:hover {
    background-color: rgb(194, 192, 244);
    ;
}

.menuBar {
    position: fixed;
    background-color: var(--menuColor);
    width: 5vw;
    height: 50vw;
    color: rgb(255, 255, 255);
    top: 5vw;
    transition: width 0.3s, height 0.3s;
    border-right: 0.01vw solid rgb(124, 130, 196);
}

.menuBar:hover {
    width: 14vw;
}

.menuIcons {
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
    left: 1.9vw;
}

#menuList {
    list-style: none;
}

.menuButtons {
    visibility: hidden;
    background-color: var(--menuColor);
    color: white;
    border: 0;
    font-size: 1vw;
    font-family: fantasy;
    letter-spacing: 0.05vw;
    text-align: left;
    margin-left: 2.5vw;
    margin-bottom: 2vw;
    height: 2vw;
    width: 5vw;
    transition: margin-left 0.3s;
}

.menuButtons:hover {
    margin-left: 2.8vw;
}

.ranksBox {
    visibility: hidden;
    position: absolute;
    background-image: url("images/ranksBg.jpg");
    background-size: cover;
    border-radius: 10%;
    width: 20vw;
    height: 30vw;
    top: 5vw;
    right: 4vw;
}

.doctorButton {
    position: absolute;
    width: 6vw;
    height: 6vw;
    bottom: 2vw;
    right: 2vw;
    border-radius: 70%;
    border: 0;
    background-color: black;
    background-image: url("images/med.gif");
    background-size: contain;
}

.doctorBox {
    visibility: hidden;
    position: absolute;
    border-radius: 10%;
    background-image: url("images/doctorBg.jpg");
    background-size: cover;
    width: 20vw;
    height: 15vw;
    bottom: 7.5vw;
    right: 6vw;
    color: white;
    font-family: cursive;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}