:root {
    --mainColor: rgba(33, 34, 51, 0.9);
    --menuColor: rgba(29, 31, 60, 0.9);
    --bg: #1a1b36;
    --graysh : #666A7F;
}

html,
body {
    margin: 0;
    background-color: black;
}

header {
    background-color: var(--mainColor);
    border-bottom: 1px solid black;
    height: 5vw;
    width: 100%;
    position: fixed;
}

.openMen {
    left: 1vw;
    bottom: 1.3vw;
    position: absolute;
    width: 2.2vw;
    height: 2.2vw;
    border-radius: 20%;
    border-color: rgb(197, 156, 234);
    background-color: white;
    background-image: url("images/menuClose.webp");
    background-size: contain;
}

.openMen:hover {
    background-color: rgb(193, 175, 175);
}

.logo {
    position: absolute;
    width: 5vw;
    height: 5vw;
    left: 4%;
    bottom: -0.3vw;
}

.title {
    position: absolute;
    color: white;
    left: 8.5%;
    font-size: 2vw;
    font-family: Copperplate;
}

.icons {
    margin: 0;
    position: absolute;
    right: 2vw;
    bottom: 0.8vw;
}

.profileButton {
    width: 3vw;
    height: 3vw;
    border-radius: 20%;
    border-color: rgb(197, 156, 234);
    background-color: white;
    background-image: url("images/profile.png");
    background-size: contain;
}

.profileButton:hover {
    background-color: rgb(226, 196, 226);
}

.logout {
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 60%;
    border-color: rgb(140, 158, 229);
    background-color: white;
    background-image: url("images/logout.png");
    background-size: contain;
}

.logout:hover {
    background-color: rgb(4, 0, 4);
}

.fav {
    width: 3.2vw;
    height: 3.2vw;
    border-radius: 50%;
    border-color: rgb(156, 132, 220);
    background-image: url("images/favourite.png");
    background-size: contain;
}

.fav:hover {
    background-color: rgb(156, 132, 220);
    ;
}

.ranks {
    width: 3.3vw;
    height: 3.3vw;
    border-radius: 60%;
    border-color: rgb(118, 125, 207);
    background-color: white;
    background-image: url("images/ranks.png");
    background-size: contain;
}

.ranks:hover {
    background-color: rgb(194, 192, 244);
    ;
}

.menuBar {
    position: fixed;
    background-color: var(--menuColor);
    width: 5vw;
    height: 50vw;
    color: rgb(255, 255, 255);
    top: 5vw;
    transition: width 0.3s, height 0.3s;
    border-right: 0.01vw solid rgb(124, 130, 196);
}

.menuBar:hover {
    width: 13vw;
}

.menuIcons {
    position: absolute;
    width: 1.6vw;
    height: 1.6vw;
    left: 1.9vw;
}

#menuList {
    list-style: none;
}

.menuButtons {
    visibility: hidden;
    background-color: var(--bg);
    color: white;
    border: 0;
    font-size: 1vw;
    font-family: fantasy;
    letter-spacing: 0.05vw;
    text-align: left;
    margin-left: 2.5vw;
    margin-bottom: 2vw;
    height: 2vw;
    width: 5vw;
    transition: margin-left 0.3s;
}

.menuButtons:hover {
    margin-left: 2.8vw;
}

.lineCurrent {
    position: absolute;
    background-color: #A48EFF;
    width: 0.5vw;
    height: 2.5vw;
    top: 0.6vw;
}

.lineMenu {
    position: absolute;
    width: 3vw;
    height: 0.1vw;
    background-color: rgb(217, 181, 235);
    top: 17vw;
    left: 1vw;
    transition: width 0.3s;
}

.contact {
    visibility: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    left: 1vw;
    top: 20vw;
    width: 11vw;
    height: 2vw;
    border-radius: 20%;
    border: 0;
    font-size: 1.2vw;
    padding-left: 1.5vw;
    background-color: #8144fe;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.01vw;
}

.contact:hover {
    background-color: #A48EFF;
}

.contactImg {
    width: 1.5vw;
    height: 1.5vw;
    padding-right: 1vw;
}

.about {
    visibility: hidden;
    position: absolute;
    background-color: var(--bg);
    color: white;
    top: 26vw;
    left: 1vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}

.about:hover {
    color: var(--graysh);
}

.infoP {
    visibility: hidden;
    position: absolute;
    background-color: var(--bg);
    color: white;
    top: 29vw;
    left: 0.4vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    width: 11vw;
}

.infoP:hover {
    color: var(--graysh);
}

.terms {
    visibility: hidden;
    position: absolute;
    background-color: var(--bg);
    color: white;
    top: 32vw;
    left: 0.5vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    width: 12vw;
}

.terms:hover {
    color: var(--graysh);
}

.privacy {
    visibility: hidden;
    position: absolute;
    background-color: var(--bg);
    color: white;
    top: 35vw;
    left: 0.9vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}

.privacy:hover {
    color: var(--graysh);
}

.admin {
    visibility: hidden;
    position: absolute;
    background-color: var(--bg);
    color: white;
    top: 38vw;
    left: 1vw;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
}

.admin:hover {
    color: var(--graysh);
}

.nameYear {
    visibility: hidden;
    position: absolute;
    bottom: 1.8vw;
    left: 2vw;
    color: var(--graysh);
    font-size: 1vw;
    width: 7vw;
    height: 2vw;
}

.ranksBox {
    visibility: hidden;
    position: absolute;
    background-image: url("images/ranksBg.jpg");
    background-size: cover;
    border-radius: 10%;
    width: 20vw;
    height: 30vw;
    top: 5vw;
    right: 4vw;
    font-size: 2vw;
    display: flex;
    justify-content: space-around;
}

.doctorButton {
    position: fixed;
    width: 6vw;
    height: 6vw;
    bottom: 2vw;
    right: 2vw;
    border-radius: 70%;
    border: 0;
    background-color: black;
    background-image: url("images/med.gif");
    background-size: contain;
}

.doctorBox {
    visibility: hidden;
    position: absolute;
    border-radius: 10%;
    background-image: url("images/doctorBg.jpg");
    background-size: cover;
    width: 20vw;
    height: 15vw;
    bottom: 7.5vw;
    right: 6vw;
    color: white;
    font-family: cursive;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.gamesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2.5vw;
    width: 70vw;
    height: 40vw;
    padding-left: 14vw;
    padding-top: 10vw;
}

.name1 {
    border-radius: 10%;
}

.name1:hover {

}

.name2 {
    border-radius: 10%;
}

.name2:hover {
    
}

.name3 {
    border-radius: 10%;
}

.name3:hover {
    
}

.name4 {
    border-radius: 10%;
}

.name4:hover {
    
}

.name5 {
    border-radius: 10%;
}

.name5:hover {
    
}

.name6 {
    border-radius: 10%;
}

.name6:hover {
    
}

